
.flip-card{
    background-color: transparent;
    width: 16.5rem;
    height: 4.5rem;
    margin: .5rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    cursor: pointer;



 -webkit-user-select: none; /* Safari */        
 -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /*Standard */

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
    
}

.flip-card.is-revealed .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-question, .flip-card-punchline {
    box-shadow: 0.1rem 0.1rem .4rem rgba(22, 22, 22, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    border: #756A56; /* #756A56;rgb(235, 199, 0) */
    border-width: 2px;
    border-style: solid;    
}

.flip-card-question {
    background-color:#ffd68a;
    
}

.flip-card-punchline {
    background-color:  #F7C66A;
    transform: rotateX(180deg);
}


.joke-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 70rem;
}

.jokes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {

}