.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.page-header {
  display: flex;
  background-color: #F7C66A;
  left: 0;
  right: 0;
  top: 0;
  min-height: 3rem;
  box-shadow: .3rem .3rem .6rem rgba(22, 22, 22, .5);
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.page-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
}

.nav-container {
  display: flex;
  align-items: center;
  min-width: 10rem;
  max-width: 50rem;
  width: 100vw;
  justify-content: space-evenly;
}

.nav-link {
  color: wheat;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-link:hover {
  color: whitesmoke;
}


.nav-link.selected, .sidebar-link.selected {
  text-decoration: underline;
}

.page-sidebar {
  display: none;

}
.sidebar-hamburger-button{
  display: none;
}

.page-container {
  padding-top: 1.5rem;
}

@media screen and (max-width: 600px) {
    .sidebar-hamburger-button{
    /* box-shadow: 0.0rem 0.1rem 1.2rem rgba(22, 22, 22, 0.5); */
    display: block;
    background-color: inherit;
    /* background-color: inherit; */
    border: none;
    font-size: 1.5rem;
    align-self: stretch;
    z-index: 1;
    transform: scale(1); /*Only for the benefit of making sure the button is stacked above the menu*/
    position: absolute;
    right: 0;
    opacity: 70%;
    
  }

}
