
.page-container {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
  min-height: 100%;
  position: relative;
  padding-bottom: 3rem;

}


html {
  height: 100%;
}


.nav-container {
  display: flex;
  align-items: center;
  min-width: 10rem;
  max-width: 50rem;
  width: 100vw;
  justify-content: space-evenly;
}

.nav-link {
  color: #f5deb3;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-link:hover {
  color: whitesmoke;
}


.nav-link.selected, .sidebar-link.selected {
  text-decoration: underline;
}

.page-sidebar {
  display: none;

}
.sidebar-hamburger-button{
  display: none;
}



.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7C66A;
  position: absolute;
  left: 0; 
  right: 0;
  bottom: 0;
  margin-top: 3rem;
  background-color: #F7C66A;
  height: 2rem;
}

.page-footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 600px) {
    .sidebar-hamburger-button{
    /* box-shadow: 0.0rem 0.1rem 1.2rem rgba(22, 22, 22, 0.5); */
    display: block;
    background-color: inherit;
    /* background-color: inherit; */
    border: none;
    font-size: 1.5rem;
    align-self: stretch;
    z-index: 1;
    transform: scale(1); /*Only for the benefit of making sure the button is stacked above the menu*/
    position: absolute;
    right: 0;
    opacity: 70%;
    
  }

  .page-container {
    padding-top: 3rem;
  }
}
