.board {
  display: grid;
  border: 1px;
  border-color: black;
  border-style: solid;

  width: 40rem;
  height: 40rem;
  min-width: 10rem;
  min-height: 10rem;
}

.board-tile {
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: #f8d697;
}

.item {
  position: absolute;
  background-color: #f7c66a;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  position: relative;
}

.on-board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.2rem;
  border: 1px;
  border-color: black;
  border-style: solid;
  resize: none;
}

.checked::before {
  position: static;
  content: "✖";
}

.checked {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  color: #ec9c0975;
}

.bingo-play-container {
  display: flex;
  flex-direction: column;
}

.bingo-edit-container {
  display: flex;
  width: 99vw;
  justify-content: center;
}

.bingo-play-edit-toggle-button {
  margin: 0.1rem 0;
  background-color: #f7c66a;
  min-width: 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(22, 22, 22, 0.5);
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  height: 1.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  max-width: 95vw;
  width: 5rem;
  align-self: center;
}
.bingo-pool-container {
  max-height: 40rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  width: 25rem;
  margin-left: 1rem;
}
.bingo-pool {
  flex-grow: 1;
  float: left;
  background-color: #f8d697;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  border: 2px;
  border-color: black;
  border-style: solid;
}
.bingo-edit-board-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-left: 1rem;
  justify-content: left;
}
.bingo-title{
  text-align: left;
}
.bingo-edit-button {
  margin-bottom: 1rem;
  padding: 0.4rem;
  font-size: 1rem;
  background-color: #f7c66a;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(22, 22, 22, 0.5);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.bingo-board-size {
  display: flex;
  flex-direction: column;
  max-width: 8rem;
}

.board-size-buttons {
  display: flex;
  justify-content: space-between;
}

.in-pool {
  margin-top: 0.5rem;
  padding: 0 0.4rem;
  display: flex;
}

.bingo-remove-button {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 0.9;
  padding: 0;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 50ms ease-in-out;
  cursor: pointer;
  color: rgb(163, 37, 37);
  width: 2rem;
}

.in-pool:hover .bingo-remove-button {
  opacity: 0.5;
}

.in-pool .bingo-remove-button:hover {
  opacity: 1;
}

.bingo-item-title {
  flex-grow: 1;
}
.new-bingo-item-form {
  margin-bottom: 0.5rem;
  display: flex;
}
.new-bingo-item-text-input {
  height: 1.6rem;
  flex-grow: 1;
}

.bingo-edit-container .checked {
  display: none;
}
.new-bingo-item-add-button {
  width: 4rem;
  margin-left: 1rem;
  background-color: #f7c66a;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(22, 22, 22, 0.5);
  border: none;
  cursor: pointer;
}

.board-generator-error-message {
  background-color: red;
  color: white;
  font-size: 5rem;
}

.dragOver {
  background-color: #ffa600be;
  transition: background-color 0.3s ease-out;
}

.bingo-filter-button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.2rem;
  font-size: 1rem;
  background-color: #f7c66a;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(22, 22, 22, 0.5);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.filter-unchecked {
  background-color: wheat;
}

.filter-options {
  display: flex;
  max-width: 33vw;
  height: auto;
  flex-flow: wrap;
}
@media screen and (max-width: 1000px) {
  .bingo-title{
    text-align: center;
  }
  .bingo-edit-container {
    flex-direction: column;
    align-items: center;
  }
  .bingo-pool-container {
    margin: 2rem 0 1rem 0;
  }

  .bingo-edit-board-container, 
  .filter-options {
    width: 98vw;
    max-width: 98vw;
    justify-content: center;
    align-items: center;
  }

  .bingo-pool-container{
    max-height: 20rem;
  }
  .board-size-buttons {
    min-width: 8rem;
  }

}

@media screen and (max-width: 600px) {
  .bingo-pool-container {
    width: 95%;
  }
  .board {
    min-width: 95vw;
    min-height: 95vw;
    height: auto;
    width: auto;
  }

  .checked {
    color: #ec9c0975;
    opacity: 1;
  }
  .bingo-remove-button {
    color: rgb(163, 37, 37);
    opacity: 1;
  }
}
