.subs-season, .subs-episode {
    background: #ffd68a;
    flex-grow: 1;
    text-align: center;
    height: 1.4rem;
    margin-right: .3rem;
    cursor: pointer;
    box-shadow: .1rem .1rem .2rem rgba(99, 83, 83, 0.5);
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.sub-season-episode-container {
    display: flex;
    flex-direction: row;
}

.episode-selector-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    max-width: 95vw;
}

.selected {
    background: #F7C66A;
}