

.quiz-score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(3rem + 2vw);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.quiz-score-title {
    margin-right: 2rem;
}

.quiz-question {
    text-align: center;
    font-size: 1.2rem;
    width: 40rem;
}

.quiz-question-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.quiz-answer-list{
    list-style-type: none;
    width: 40rem;
    padding: 0;
    margin-top: 3rem;
}

.quiz-answer {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    height: 2.2rem;
    box-shadow: .3rem .3rem .6rem rgba(22, 22, 22, .5);
    background-color: rgba(248, 232, 202, 0.712);;
    cursor: pointer;
}

.quiz-answer:hover {
    background-color: whitesmoke;
}

.quiz-over-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.quiz-final-score-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    
}

.quiz-pb-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.quiz-final-score, .quiz-pb-score {
    font-size: 3.5rem;    
    box-shadow: 0 0 1rem rgba(22, 22, 22, .5);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background-color: rgb(235, 199, 0);
}

.quiz-reset-button{
    margin-top: 4rem;
    text-align: center;
    font-size: 1.4rem;
    height: 2.2rem;
    box-shadow: .3rem .3rem .6rem rgba(22, 22, 22, .5);
    background-color: rgb(233, 220, 201);
    cursor: pointer;
    width: 20rem;

}

@media only screen and (max-width: 600px) {
    .quiz-answer-list {
        width: 95vw;
    }
    .quiz-question {
        width: 95vw;
    }
    .quiz-reset-button{
        width: 95vw;
    }
    .quiz-answer:hover {
        background-color: rgba(248, 232, 202, 0.712);
    }

}