


.starttime {
font-size: .6rem;
margin-bottom: 0;
    
/* Make timestamps non-selectable */
user-select: none; /* Standard */
}

.starttime + p {
    margin-top: 0;
}

.subs-container {
    margin-left: .5rem;
    width: 25rem;
    max-width: 95vw;
    /* border: 1px dashed black; */
}

.sub-text {
    white-space: pre-wrap;
}

.episode-title{
    font-size: 2rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    flex-grow: 1;
    background: wheat;
}