


.starttime {
font-size: .6rem;
margin-bottom: 0;
    
/* Make timestamps non-selectable */
user-select: none; /* Standard */
}

.starttime + p {
    margin-top: 0;
}

.subs-container {
    margin-left: .5rem;
    width: 25rem;
    /* border: 1px dashed black; */
}

.sub-text {
    white-space: pre-wrap;
}