
.timer-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.timer-slots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}


.timer-slot {
    display: flex;
    border-radius: 0.5rem;
    width: 15vmin;
    height: 15vmin;
    margin: calc(0.5rem + 2vmin);
    justify-content: center;
    align-items: center;
    font-size: calc(16px + 4vmin);
    background-color: #F7C66A;
    box-shadow: 0.5rem 0.5rem 1.2rem rgba(22, 22, 22, 0.5);
}

.timer-slot-text{
    font-size: calc(10px + 2vmin);
    text-align: center;

}

.timer-title {
    text-align: center;

}

@media only screen and (max-width: 480px) {
    .timer-slot {

    }
    .timer-slot-text{

    }
}
