
.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.joke-punchline {
    width: 5rem;
    background-color: lawngreen;
    height: 2rem;
    text-align: center;
}